### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# User-Specific Workspace Files
*.vbw
*.vcc
*.scc

# Compiled Binaries & Build Outputs
*.exe
*.dll
*.ocx
*.cab

# Temporary & Cached Files
*.tmp
*.dca
*.log
*.obj

# Optional: Add-in and Setup Artifacts
*.pdb
*.tlh
*.tli
*.exp
*.lib
*.exp

# Modernizr per-user bookmark stores
*.bookmarks
